# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

# Описание проекта

Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.
Результаты исследования будут учтены при построении модели кредитного скоринга — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

# Описание данных

- children — количество детей в семье
- days_employed — общий трудовой стаж в днях
- dob_years — возраст клиента в годах
- education — уровень образования клиента
- education_id — идентификатор уровня образования
- family_status — семейное положение
- family_status_id — идентификатор семейного положения
- gender — пол клиента
- income_type — тип занятости
- debt — имел ли задолженность по возврату кредитов
- total_income — ежемесячный доход
- purpose — цель получения кредита

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.

In [23]:
children_debt_pivot = data.pivot_table(
    index='children', 
    values='debt', 
    aggfunc=['sum', 'count', 'mean']
)
children_debt_pivot['mean'] = children_debt_pivot['mean'] * 100
children_debt_pivot = children_debt_pivot.reset_index().droplevel(1, axis=1)
children_debt_pivot

   children   sum  count      mean
0         0  1063  14091  7.543822
1         1   444   4808  9.234609
2         2   194   2052  9.454191
3         3    27    330  8.181818
4         4     4     41  9.756098
5         5     0      9  0.000000

**Вывод: 
1)Зависимость между количеством детей и возвратом кредита в срок такова, что если детей нет, то вероятность возврата кредита в срок больше, чем для человека, у которого есть дети.
2)Также если детей трое, то вероятность возврат увеличивается
2)Исходя из данных можно заметить, что чем больше детей, тем меньше информации о кредитах, поэтому для подтверждения такой зависимости нужно больше исследований и данных, а также стоит отметить, что вероятность возврата кредита для человека с 5 детьми лишь на текущих данных 100%, но судить по ним нельзя, так как выборка очень маленькая**

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [24]:
family_debt_pivot = data.pivot_table(
    index='family_status', 
    values='debt', 
    aggfunc=['sum', 'count', 'mean']
)
family_debt_pivot['mean'] = family_debt_pivot['mean'] * 100
family_debt_pivot = family_debt_pivot.reset_index().droplevel(1, axis=1)
family_debt_pivot = family_debt_pivot.sort_values(by='count', ascending=False).set_index('family_status')
family_debt_pivot

**Вывод: Среди женатых/замужних людей наименьший процент должников - 7,5%, ситуацию хуже у людей состоящих в гражанском браке и не женатых/не замужних, где процент невозврата выше и составляет 9,3% и 9,7% соответственно. Для оставшихся двух категорий (в разводе и вдовец/вдова) выборка мала, чтобы сделать какие-то достоверные выводы.

# 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [26]:
data.groupby('total_income_category')['debt'].mean().sort_values(ascending=False)

total_income_category
E    0.090909
C    0.084982
A    0.080000
B    0.070602
D    0.060172
Name: debt, dtype: float64

In [27]:
total_income_debt_pivot = data.pivot_table(
    index='total_income_category', 
    values='debt', 
    aggfunc=['sum', 'count', 'mean']
)
total_income_debt_pivot['mean'] = total_income_debt_pivot['mean'] * 100
total_income_debt_pivot = total_income_debt_pivot.reset_index().droplevel(1, axis=1)
total_income_debt_pivot = total_income_debt_pivot.sort_values(by='count', ascending=False).set_index('total_income_category')
total_income_debt_pivot

                        sum  count      mean
total_income_category
C                      1353  15921  8.498210
B                       354   5014  7.060231
D                        21    349  6.017192
A                         2     25  8.000000
E                         2     22  9.090909

**Вывод: Люди с более высоким уровнем дохода имеют более высокую вероятность возврата кредита. Это подтверждается тем, что процент невозврата в категории B составляет 7%, в то время как в категории C этот процент равен 8,5%. В других категорих - E,D,A выборка мала, что не позволяет сделать достоверные выводы**

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [28]:
purpose_grouped = data.groupby('purpose_category')
debt_percentage = purpose_grouped['debt'].mean().sort_values(ascending=False) 
debt_percentage
purpose_income_debt_pivot = data.pivot_table(
    index='purpose_category', 
    values='debt', 
    aggfunc=['sum', 'count', 'mean']
)
purpose_income_debt_pivot['mean'] = purpose_income_debt_pivot['mean'] * 100
purpose_income_debt_pivot = purpose_income_debt_pivot.reset_index().droplevel(1, axis=1)
purpose_income_debt_pivot = purpose_income_debt_pivot.sort_values(by='count', ascending=False).set_index('purpose_category')
purpose_income_debt_pivot

                          sum  count      mean
purpose_category
операции с недвижимостью  780  10751  7.255139
операции с автомобилем    400   4279  9.347978
получение образования     369   3988  9.252758
проведение свадьбы        183   2313  7.911803

**Вывод: Исходя из данных можно сделать вывод, что человек взявший кредит на операции с автомобилем более вероятно не вернёт кредит в срок, а человек взявший кредит на операции с недвижимостью вероятней всего вернёт его. **

Изменённый вывод:
Люди взявшие кредит на операции с недвижимостью и на проведение свадьбы - вероятней всего вернут кредит, этому соответствует малый процент невозврата - 7,3% и 7,9% соответственно. Хуже ситуация у людей берущих кредит на операции с автомобилем и на получение образования, где процент невозврата составляет 9,3% и 9,2% соответственно.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ: 
1)Некорректный ввод данных: пропуски могут появиться, если данные не были введены или записаны некорректно.
2)Технические проблемы: пропуски могут возникнуть в результате технических проблем, таких как ошибка при сохранении данных или при передаче данных между системами.
3)Отсутствие данных: в некоторых случаях данные могут быть недоступны из-за различных причин,например ограничение доступа или отсутствие информации по конкретной группе лиц. 
*

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:
1)Не искажает распределение: Медиана является устойчивой мерой центральной тенденции, которая не чувствительна к выбросам, поэтому ее использование для заполнения пропусков не искажает распределение данных.
2)Не вносит новых значений: Заполнение пропусков медианным значением не добавляет новых значений в данные. Это позволяет сохранить характеристики исходных данных.
3)Уменьшает искажение результатов: Пропущенные значения могут привести к неверным выводам и искажению результатов анализа данных. Заполнение пропусков медианным значением помогает уменьшить это искажение.
4)Простой и быстрый метод: Метод заполнения пропусков медианным значением является простым и быстрым, что делает его привлекательным для использования в анализе больших объемов данных.*

### Шаг 4: общий вывод.

Напишите ваш общий вывод.

1. Существует явная зависимость между количеством детей у человека и вероятностью, что он не вернёт кредит. Чем больше детей, тем больше вероятность невозврата, 7,5% для людей без детей против 9,2% и 9,4% с 1 и 2 детьми соответственно. Это связанно с дополнительными тратами на детей, кроме обязательных трат, для детей чаще возможны необдуманные покупки, что сказывается на вероятности невозврата кредита.
2. Существует явная зависимость между семейеого статуса человека и вероятностью, что он не вернёт кредит. Для людей состоящих в браке вероятность невозврата меньше, чем для людей состоящих в гражданском браке и не женатых/не замужних, 7,5% для людей в браке против 9,3% и 9,7% для людей состоящих в гражанском браке и не женатых/не замужних соответственно. Это связанно с общественной ответственностью и финансовой стабильностью в браке.
3. Существует явная зависимость между уровнем дохода человека и вероятностью, что он не вернёт кредит. Люди с доходом в 50 - 200 тысяч не вернут кредит с вероятностью - 8,5% против 7% у людей с доходом в 200 тысяч - 1 млн. Это связанно с более стабильной финансовой ситуацией. Кроме того, часто высокий уровень дохода сопровождается более высоким образованием и ответственностью на рабочем месте, что повышает стабильность и ответственность платежей по кредиту, а как следствие процент возврата кредита.
4. Существует явная зависимость между цели кредита у человека и вероятностью, что он не вернёт кредит. Этому соотвествует 7,3% и 7,9% для целей - операции с недвижимостью, проведение свадьбы соответственно, против  9,3% и 9,2% для целей - операции с автомобилем и получение образования соответственно. Это связанно с тем, что кредиты на операции с недвижимостью чаще всего являются ипотеками, где в случае невозврата кредита, банк имеет права забрать недвижимость, что касается свадеб - чаще всего это небольшие суммы, а также свадьба - планируемое и ожидаемое событие, из-за шанс невозврата кредита невелик. Кредит на операции с автомобилем, является самым невозвратным по нескольким причинам: сложность в изъятии машины в следствии неуплаты, быстрая потеря стоимости машины. Кредит на образование с большой вероятностью не вернут, так как кредит на образование может быть долгосрочным, а выпускники часто не могут быстро найти работу или получить высокую зарплату, что может повлиять на их возможность вернуть кредит вовремя.

Рекомендации по улучшению сбора данных и скоринга:

1. Добавление дополнительных факторов для скоринга: помимо имеющихся данных о доходе, количестве детей, семейном положении и цели кредита, необходимо рассмотреть включение других факторов, таких как стаж работы, место жительства, возраст заемщика, наличие других кредитов.
2. Регулярное обновление данных: для более точного анализа и прогнозирования необходимо регулярно обновлять данные исходя из изменений в экономической и социальной сфере.